.logo_nav{
    width: 20vh;
    height: auto;
}
.logo_logout{
    width: 4vh;
    height: auto;
    margin-left: 2vh;
}

.btn_form_user{
        background-color: #023373;
        color: white;
        border-radius: 30px;
        align-items: center;
    }

